In [1]:
import pandas as pd


df = pd.read_csv('전라북도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,931862,4514032023438,451403202343,4514032023,43,8,536,전라북도,익산시,황등면 죽촌리,451403269031.0,용산로,125.0,0.0
1,931863,45140320236946,451403202369,4514032023,69,46,13,전라북도,익산시,황등면 죽촌리,451403269031.0,용산로,109.0,38.0
2,931864,4514032023700,451403202370,4514032023,70,0,277,전라북도,익산시,황등면 죽촌리,451403269052.0,황성로,176.0,103.0
3,931865,451403202320620,4514032023206,4514032023,206,20,138,전라북도,익산시,황등면 죽촌리,451404608189.0,죽촌2길,34.0,22.0
4,931866,451403202324129,4514032023241,4514032023,241,29,509,전라북도,익산시,황등면 죽촌리,451403269025.0,시와로,42.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드_x,시군구법정동코드_x,본번,부번,사용량_KWH,시도명,시군구명,법정동명,...,시군구법정동코드_y,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,917352,4511311500862,451131150086,4511311500,86,2,174060,전라북도,전주시 덕진구,우아동3가,...,4511311500,86,2,전라북도 전주시 덕진구 신기1길 11(우아동3가 산86-2),통신,LG U+,LG U+전주 센터,기타분류,-,NaN

In [4]:
df_3.to_csv("전라북도_전력사용량.csv" , mode = 'w' , encoding= 'cp949')