In [1]:
import pandas as pd


df = pd.read_csv('경기도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,588855,415503302110311,4155033021103,4155033021,103,11,5,경기도,안성시,서운면 인리,415504424390.0,서운중앙길,12.0,0.0
1,588857,41550330211091,4155033021109,4155033021,109,1,607,경기도,안성시,서운면 인리,415504424390.0,서운중앙길,27.0,0.0
2,588858,41550330211101,4155033021110,4155033021,110,1,522,경기도,안성시,서운면 인리,415504424390.0,서운중앙길,27.0,2.0
3,588859,41550330211174,4155033021117,4155033021,117,4,835,경기도,안성시,서운면 인리,-,-,-,-
4,588860,41550330211860,4155033021186,4155033021,186,0,246,경기도,안성시,서운면 인리,415504424546.0,인처동길,16.0,24.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드_x,시군구법정동코드_x,본번,부번,사용량_KWH,시도명,시군구명,법정동명,...,시군구법정동코드_y,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,587172,415701040020161,41570104002016,4157010400,2016,1,1084,경기도,김포시,장기동,...,4157010400,2016,1,경기 김포시 태장로769번길 35,금융,KB금융,KB국민은행 통합IT센터,-,-,NaN
1,603872,4159013500383,415901350038,4159013500,38,3,97320,경기도,화성시,산척동,...,4159013500,38,3,경기 화성시 동탄산척로2길 53-7,공공,한국도로공사,ICT운영센터(동탄),-,-,NaN
2,544122,4146510300325230,4146510300325,4146510300,325,230,1938336,경기도,용인시 수지구,동천동,...,4146510300,325,230,경기도 용인시 수지구용구대로 2771번길 85,민간,세종텔레콤,세종텔레콤,-,-,NaN
3,549385,414631130010218,4146311300102,4146311300,102,18,14280432,경기도,용인시 기흥구,마북동,...,4146311300,102,18,경기도 용인시 기흥구 마북로 240번길 17-9,-,AWS 임차(롯데정보통신(현대정보기술) 용인 글로벌클라우드센터),"롯데정보통신 제3,4센터",*AWS 중복,-,NaN
4,549386,414631130010218,4146311300102,4146311300,102,18,14280432,경기도,용인시 기흥구,마북동,...,4146311300,102,18,경기도 용인시 기흥구 마북로 240번길 17-9,-,AWS 임차(롯데정보통신(현대정보기술) 용인 글로벌클라우드센터),"롯데정보통신 제3,4센터",*AWS 중복,-,NaN
5,551126,4146510200236,414651020023,4146510200,23,6,2399808,경기도,용인시 수지구,죽전동,...,4146510200,23,6,경기도 용인시 수지구 죽전동 23-6,금융,"동부그룹 계열사, 미래에셋 생명, 골든브릿지 증권, SC제일은행 DR센터, 미쓰비시...",동부화재데이터센터,-,-,NaN
6,435484,41135109006110,4113510900611,4113510900,611,0,12192278,경기도,성남시 분당구,삼평동,...,4113510900,611,0,성남시 분당구 판교로 255번길 46(삼평동 611),민간,SK C&C,판교 클라우드 센터,-,-,NaN
7,435420,41135107003431,4113510700343,4113510700,343,1,3079488,경기도,성남시 분당구,야탑동,...,4113510700,343,1,경기도 성남시 분당구 장미로 36 호스트웨이 IDC,민간,KINX (인터넷 인프라 기업),IDC 분당1,-,-,NaN
8,438876,411711010020012,4117110100200,4117110100,200,12,4819968,경기도,안양시 만안구,안양동,...,4117110100,200,12,경기도 안양시 만안구 덕천로48번길 37,통신,LG U+,LG U+안양 센터,기타분류,-,NaN
9,431186,41135109006950,4113510900695,4113510900,695,0,1791288,경기도,성남시 분당구,삼평동,...,4113510900,695,0,경기도 성남시 분당구 대왕판교로712번길 11,민간,NHN,"토스트 클라우드 센터1\n (TOAST Cloud Center 1, TCC1)",2021 착공\n2022.12 준공 예정,-,NaN
10,431772,41135114001922,4113511400192,4113511400,192,2,3531024,경기도,성남시 분당구,구미동,...,4113511400,192,2,경기도 성남시 분당구 성남대로 2번길 12 (경기도 성남시 분당구 구미동 192-2),통신,"SK브로드밴드,KINX,한국여성인권진흥원(공공)",분당 센터,-,-,NaN
11,418601,41117101004101,4111710100410,4111710100,410,1,8276160,경기도,수원시 영통구,매탄동,...,4111710100,410,1,"경기도 수원시 영통구 삼성로168번길 10, 경기도 수원시 영통구 매탄동 410-1",민간,삼성SDS,삼성SDS ICT수원센터,-,-,NaN
12,519153,41390135002420,4139013500242,4139013500,242,0,10929,경기도,시흥시,배곧동,...,4139013500,242,0,경기도 시흥시 서울대학로 173,민간,KAKAO,카카오 제3데이터센터,2024 착공 예정\n2026 준공 예정,-,NaN
13,525400,41450109008361,4145010900836,4145010900,836,1,3166,경기도,하남시,망월동,...,4145010900,836,1,경기 하남시 미사강변한강로 177,은행,한국산업은행,디지털스퀘어,-,-,NaN
14,525400,41450109008361,4145010900836,4145010900,836,1,3166,경기도,하남시,망월동,...,4145010900,836,1,경기 하남시 미사강변한강로 177(망월동 836-1),은행,산업은행,한국 산업은행 IT센터,-,-,NaN
15,487657,41285104007260,4128510400726,4128510400,726,0,10383936,경기도,고양시 일산동구,장항동,...,4128510400,726,0,경기도 고양시 일산동구 중앙로 1333 (경기도 고양시 일산동구 장항동 726번지),통신,"SK브로드밴드,AWS",일산 센터,-,-,NaN
16,495819,412851060013280,41285106001328,4128510600,1328,0,315072,경기도,고양시 일산동구,백석동,...,4128510600,1328,0,경기 고양시 일산동구 호수로 358-8,공공,한국예탁결제원,한국예탁결제원 일산전산센터,-,-,NaN

In [4]:
df_3.to_csv("경기도_전력사용량.csv" , mode = 'w' , encoding= 'cp949')