In [1]:
import pandas as pd


df = pd.read_csv('전라남도.csv' , encoding = 'cp949')
df_2 = pd.read_csv('../../../../데이터센터정리.csv' , encoding = 'cp949')

df = df.astype({'시군구법정동번지코드' : 'str',
                '시군구법정동번코드' : 'str'})
df.head()

,Unnamed: 0,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,본번,부번,사용량_KWH,시도명,시군구명,법정동명,새주소대로로코드,새주소대로로명,새주소본번,새주소부번
0,1058377,4683025022690,468302502269,4683025022,69,0,324,전라남도,영암군,영암읍 교동리,468303295083.0,영암로,1511.0,0.0
1,1058378,4683025022741,468302502274,4683025022,74,1,2562,전라남도,영암군,영암읍 교동리,-,-,-,-
2,1058379,46830250222150,4683025022215,4683025022,215,0,28,전라남도,영암군,영암읍 교동리,468303295083.0,영암로,1477.0,0.0
3,1058380,46830250222340,4683025022234,4683025022,234,0,913,전라남도,영암군,영암읍 교동리,468304685227.0,새동네길,3.0,0.0
4,1058385,46830250223691,4683025022369,4683025022,369,1,3659,전라남도,영암군,영암읍 교동리,468303295004.0,교동로,59.0,0.0

In [2]:
df_2.head()

,시군구법정동번지코드,시군구법정동번코드,시군구법정동코드,번,지,주소,분류,기업,이름,비고,임차여부,전력사용량
0,421301170018946,42130117001894,4213011700,1894,6,강원 원주시 건강로 32(반곡동 1894-6),공공,국민건강보험공단,국민건강보험공단 데이터센터,O 자체 데이터센터,-,NaN
1,4213011700204710,42130117002047,4213011700,2047,14,강원 원주시 입춘로 130(반곡동 2047-14),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (2사옥),-,-,NaN
2,4213011700204710,42130117002047,4213011700,2047,10,강원 원주시 혁신로 60(반곡동 2047-10),공공,건강보험심사평가원,건강보험심사평가원 ICT센터\n (1사옥),-,-,NaN
3,421103102210000,42110310221000,4211031022,1000,0,강원 춘천시 동면 순환대로 1231,민간,NAVER,네이버 데이터센터 각,수력 발전소 통해 전체 전력량 70% 수급,-,NaN
4,42110126006500,4211012600650,4211012600,650,0,강원도 춘천시 옛경춘로 409-14,민간,오라클 춘천,오라클 춘천,-,-,NaN

In [3]:
df_3 = pd.merge(df, df_2, how='inner' , on='시군구법정동번지코드')

df_3

Empty DataFrame
Columns: [Unnamed: 0, 시군구법정동번지코드, 시군구법정동번코드_x, 시군구법정동코드_x, 본번, 부번, 사용량_KWH, 시도명, 시군구명, 법정동명, 새주소대로로코드, 새주소대로로명, 새주소본번, 새주소부번, 시군구법정동번코드_y, 시군구법정동코드_y, 번, 지, 주소, 분류, 기업, 이름, 비고, 임차여부, 전력사용량]
Index: []

[0 rows x 25 columns]

In [4]:
df_3.to_csv("전라남도_전력사용량.csv" , mode = 'w' , encoding= 'cp949')